<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="AWSAccessKey" value="AKIAJJLYZ7A32UFFKFDQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSServiceEndpoint" value="https://monitoring.eu-west-1.amazonaws.com"/>
  </appSettings>

  <log4net>
    <appender name="CloudWatchAppender" type="CloudWatchAppender.CloudWatchAppender, CloudWatchAppender">
      <!--<unit value="Megabytes"/>
      <value value="0.01"/>-->

      <dimension type="Amazon.CloudWatch.Model.Dimension">
        <name value="InstanceID"/>
        <value value="%instanceid"/>
      </dimension>

      <dimension type="Amazon.CloudWatch.Model.Dimension">
        <name value="Base0"/>
        <value value="One"/>
      </dimension>
      
      <!--<timestamp value="2012-09-06 17:55:55 +02:00"/>-->

      <configOverrides value="true"/>
      
      <layout type="CloudWatchAppender.PatternLayout, CloudWatchAppender">
        <conversionPattern value="Timestamp:%utcdate{DATE} [%thread] %-5level %logger [%ndc] - %message Value: 3.1 Kilobytes/Second, Name: ContinuousTicks"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="CloudWatchAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
