<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!--<add key="AWSAccessKey" value="ACCESSKEYGOESHERE" />
    <add key="AWSSecretKey" value="SECRETKEYGOESHERE" />
    <add key="AWSServiceEndpoint" value="https://monitoring.eu-west-1.amazonaws.com" />-->
    <add key="log4net.Internal.Debug" value="true" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <log4net>
    <appender name="CloudWatchAppender" type="AWSAppender.CloudWatch.CloudWatchAppender, AWSAppender.CloudWatch">
      <metricname value="CloudWatchAppender" />
      <!--  <rateLimit value="3"/>-->
      <!--<unit value="Megabytes"/>
      <value value="0.01"/>-->
      <!--<accessKey value="ACCESSKEYGOESHERE" />
      <secret value="SECRETKEYGOESHERE" />-->
      <endPoint value="eu-west-1" />
      <namespace value="%logger{-1}" />
      <metricname value="%logger{1}" />
      <!--<dimension type="Amazon.CloudWatch.Model.Dimension">
        <name value="InstanceID"/>
        <value value="%instanceid"/>
      </dimension>-->
      <!--
      <dimension type="Amazon.CloudWatch.Model.Dimension">
        <name value="Base0"/>
        <value value="One"/>
      </dimension>
    -->
      <!--<timestamp value="2012-09-06 17:55:55 +02:00"/>-->
      <!--      <configOverrides value="true"/>-->
      <!--<layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message" />
      </layout>-->
      <layout type="AWSAppender.Core.Layout.JsonPatternLayout, AWSAppender.Core">
        <conversionPattern value="Timestamp:%utcdate{DATE} [%thread] %-5level %logger [%ndc] - %message Value: 3.1 Kilobytes/Second, Name: ContinuousTicks"/>
      </layout>
      
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="ConsoleAppender"/>-->
      <appender-ref ref="CloudWatchAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>