<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <log4net>
    <appender name="CloudWatchAppender" type="CloudWatchAppender.BufferingAggregatingCloudWatchAppender, CloudWatchAppender">
      <bufferSize value="100" />
      <value value="0.01"/>-->
      <lossy value="true" />
      <evaluator type="log4net.Core.TimeEvaluator">
        <interval value="1" />
      </evaluator>
      <!--<accessKey value="ACCESSKEYGOESHERE" />
      <secret value="SECRETKEYGOESHERE" />-->
      <endPoint value="eu-west-1" />
      <namespace value="%logger{-1}" />
      <metricname value="%logger{1}" />
      <!--<unit value="Kilobytes" />-->
      
      <standardunit type="Amazon.CloudWatch.StandardUnit" value="Kilobytes"/>
      <regionendpoint type="Amazon.RegionEndpoint" value="eu-west-1"/>
      <signaturemethod type="Amazon.Runtime.SigningAlgorithm" value="HmacSHA1"/>
      <timeout type="System.Timespan" value="00:01:00"/>
      <proxycredentials type="System.Net.NetworkCredential">
        <username value="asdf"/>
        <password value="asdf"/>
        <domain value="sdf"/>
      </proxycredentials>
      
      <configOverrides value="false" />
      <!--<dimension type="Amazon.CloudWatch.Model.Dimension">
        <name value="InstanceID"/>
        <value value="%instanceid"/>
      </dimension>-->
      <!--
      <dimension type="Amazon.CloudWatch.Model.Dimension">
        <name value="Base0"/>
        <value value="One"/>
      </dimension>
    -->
      <!--<timestamp value="2012-09-06 17:55:55 +02:00"/>-->
      <!--      <configOverrides value="true"/>-->
      <!--      
      <layout type="CloudWatchAppender.PatternLayout, CloudWatchAppender">
        <conversionPattern value="Timestamp:%utcdate{DATE} [%thread] %-5level %logger [%ndc] - %message Value: 3.1 Kilobytes/Second, Name: ContinuousTicks"/>
      </layout>
      
      -->
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="CloudWatchAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>