<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!--<add key="AWSAccessKey" value="AWSSECRETGOESHERE" />
    <add key="AWSSecretKey" value="AWSACCESSKEYGOESHERE" />-->
    <add key="AWSServiceEndpoint" value="https://monitoring.eu-west-1.amazonaws.com" />
    <add key="log4net.Internal.Debug" value="true" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <log4net>
    <appender name="SNSAppender" type="AWSAppender.SNS.SNSAppender, SNSAppender">
      <!--<accessKey value="AWSSECRETGOESHERE" />
      <secret value="AWSACCESSKEYGOESHERE" />-->
      <regionendpoint type="Amazon.RegionEndpoint" value="eu-west-1" />
      <layout type="CloudWatchAppender.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="ConsoleAppender"/>-->
      <appender-ref ref="SNSAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.Core" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>