<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="AWSAccessKey" value="AKIAJJLYZ7A32UFFKFDQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSServiceEndpoint" value="https://monitoring.eu-west-1.amazonaws.com"/>
  </appSettings>

  <log4net>
    <appender name="CloudWatchAppender" type="CloudwatchAppender.CloudwatchAppender, CloudwatchAppender">
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>

    <logger name="Amazon">
      <level value="OFF"/>
    </logger>

    <root>
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="CloudWatchAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
